* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
color: #000;
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
  /* font-family: geist, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen; */
  font-family: "Geist Mono", monospace;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input,
select,
textarea {
  font-size: 16px !important;
}


a {
  color: inherit;
  text-decoration: none;
}


button {
  cursor: pointer;
}
