@use "../../styles/mixins" as *;
// @use "../../styles/variables" as *;
.container {
  // background: #000;
  width: 100vw;
  height: 100vh;
  top: 0;
  position: relative;
  @include flexRegular(column, center);
  align-items: center;
  //border: 1px solid #fff;
  img {
    position: absolute;
    top: 2em;
    width: 120px;
  }
}

.content {
  text-align: center;
  margin-top: 8em;
  //border: 1px solid #fff;
  h1 {
    font-size: 15em;
    // font-family: Switzer-Var;
    // color: $primaryYellow;
    line-height: 10px;
    letter-spacing: -10px;
    margin-bottom: 0.5em;
  }
  p {
    font-size: 1.5em;
    //color: #fff;
  }
  // a {
  //     border: 1px solid #fff;
  //     margin-top: 5em;
  //     font-size: 1.2em;
  //     text-decoration: none;
  //     color: $primaryYellow;
  //     transition: 0.2s ease-in;
  //     &:hover {
  //         letter-spacing: 1px;
  //     }
  // }
  // button {
  //   margin: 2.5em auto 2em auto;
  //   border: none;
  //   @include buttonRegular(#fff);
  //   padding: 0.75rem 1.5rem;
  //   // color: $black;
  //   font-weight: 500;
  //   font-size: 1em;
  //   // font-family: Switzer-Var;
  //   text-transform: capitalize;
  //   letter-spacing: -1px;
  // }
}
